// Filters

.filter-wrap
  position: relative
  //margin: 150px 0 30px
  //margin: 20px 0 0
  .regular
    display: inline-block
    font-size: 14px
    text-transform: uppercase
    margin-right: 20px
    font-weight: 600
    margin-bottom: 20px
    @media #{$small-only}
      display: none
    @media #{$xlarge-up}
      margin-bottom: 0
  .filter
    position: relative
    padding: 10px
    border: 1px solid rgba(0,0,0,0.25)
    cursor: pointer
    +transition(.25s)
    &:nth-child(n+2)
      margin-left: -1px
    &:hover, &.active
      border: 1px solid $dark
      background: white
      svg
        fill: $dark
      span
        color: $dark
  svg
    display: inline-block
    width: 30px
    height: 30px
    vertical-align: middle
    fill: rgba(0,0,0,0.5)
    +transition(.25s)
    @media #{$medium-up}
      margin-right: 10px
  span
    color: rgba(0,0,0,0.5)
    +transition(.25s)
    @media #{$small-only}
      display: none