form
  position: relative
  .input-field
    position: relative
    margin: 20px 0
    @media #{$small-only}
      margin: 10px 0 20px
    .nice-select
      width: 100%
    input, textarea, select
      font-size: 14px
      color: $dark
      display: block
      padding: 16px 20px
      width: 100%
      border: none
      outline: none
      background-color: white
      border: 1px solid rgba(0,0,0,.25)
      padding-left: 50px
      +transition(.25s)
      &:focus
        outline: none
    label
      position: absolute
      font-size: 14px
      top: 18px
      left: 10px
      color: $light-grey
      padding: 0 10px
      pointer-events: none
      +transition(.25s)
    input:focus ~ label, input.ng-not-empty ~ label, input.used ~ label
      top: -5px
      font-size: 12px
      color: $dark
      background: white
      text-transform: uppercase
    input:focus, input.used
      border: 1px solid $dark
    &.locked
      input
        pointer-events: none
      &:after
        content: ''
        display: block
        width: 24px
        height: 24px
        position: absolute
        top: 12px
        right: 6px
        background: asset_url('icons/lock.svg')
        background-repeat: no-repeat
    .static-label
      font-size: 14px
      text-transform: uppercase
      font-weight: 900
      color: $dark
      position: absolute
      top: 20px
      right: 10px

  input[type="radio"]
    position: absolute
    visibility: hidden

  input[type="number"]
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
      display: none

  .nice-select, .timepicker
    border: 1px solid $dark
    & ~ label
      top: -5px
      font-size: 12px
      color: #000
      background: white
      text-transform: uppercase

button[disabled]
  opacity: 0.3

.inputError
  position: absolute
  font-size: 12px
  color: $red
  margin-top: 6px

.icon-holder
  position: relative
  .icon
    width: 22px
    height: 22px
    position: absolute
    top: -3px
    left: 0
    border-radius: 50%
    border: 1px solid $dark
    pointer-events: none
    &:after
      content: ''
      display: block
      background: asset_url('icons/pizza_part_white.svg')
      width: 12px
      height: 12px
      position: absolute
      top: 4px
      left: 3px
      opacity: 0
  input:checked
    & ~ .icon
      background: $dark
      &:after
        opacity: 1
  @media #{$small-only}
    float: none
    height: 40px

.checkbox-field
  margin-top: 20px
  @media #{$small-only}
    margin-top: 0

  input[type="checkbox"]
    position: absolute
    top: -9999px
    left: -9999px
    opacity: 0
    &:checked
      & ~ .icon
        background: $dark
        &:after
          opacity: 1
  label
    display: inline-block
    position: relative
    width: 280px
    padding: 15px 10px 10px 30px
    font-size: 12px
    font-weight: 600
    cursor: pointer
    +transition(.25s)
    &:hover
      color: $red
    @media #{$small-only}
      font-size: 10px
  .icon
    pointer-events: none
    border-radius: 20%
    top: 15px

.sum
  position: relative
  font-size: 12px
  @media #{$medium-up}
    top: 15px

.red-label
  display: inline-block
  padding: 10px 0
  margin: 10px 0 0
  font-size: 10px
  color: $red
  text-transform: uppercase
  font-weight: 600
  cursor: pointer
  svg
    display: inline-block
    width: 12px
    height: 12px
    stroke: $red
    margin-right: 10px
    vertical-align: middle

.optional-textarea
  display: none
  &.visible
    display: block

button.red
  display: block
  width: 100%
  margin-top: 30px

.admin-form
  position: relative
  width: 380px
  max-width: 100%
  margin: 120px auto 0

  .form-actions
    margin: 10px 0


.kostil1
  color: Black
  position: absolute
  margin-top: 18px
  margin-left: 20px
  font: inherit

.kostil2
  padding-left: 50px

.pbdoc:link

.pbdoc:hover
  color: #eb0029
.myfails
  top: 46px

