form
  position: relative
  .input-field
    position: relative
    margin: 10px 0
    border: 1px solid rgba(0,0,0,.25)
    input, textarea, select
      font-size: 14px
      color: $grey600
      display: block
      padding: 10px
      width: 100%
      border: none
      outline: none
      background-color: white
      &:focus
        outline: none