.sidemenu-wrap
  position: fixed
  width: 80px
  height: 100%
  top: 0
  left: 0
  background: $dark
  @media #{$small-only}
    display: none
  @media only screen and (min-width: 1440px)
    width: 180px

  .logo
    display: block
    width: 70px
    margin: 20px auto 10px
    @media only screen and (min-width: 1440px)
      width: 140px

  .beta-icon
    width: 60px
    position: relative
    margin: 0 auto

  .sidenav
    +y-align
    width: 100%
    li
      &.disable
        pointer-events: none
        opacity: 0.3
    a
      display: block
      height: 80px
      text-align: center
      cursor: pointer
      svg
        width: 40px
        height: 40px
        margin-top: 10px
        fill: rgba(255,255,255,0.5)
        +transition(.25s)
      span
        color: white
        opacity: 0
        +transition(.25s)
        font-size: 12px
        @media only screen and (min-width: 1440px)
          opacity: 1
      &:hover
        span
          opacity: 1
        svg
          fill: rgba(255,255,255,0.75)
      &.active
        background: $red
        span
          opacity: 1
        svg
          fill: white
      @media only screen and (min-width: 1440px)
        height: 70px
        padding-top: 6px
        padding-left: 10px
        text-align: left
        span
          display: inline-block
          margin-left: 10px
          position: relative
          top: -20px
          font-weight: 600
          text-transform: uppercase

  .socials
    position: absolute
    bottom: 30px
    left: 10px
    a
      position: relative
      display: inline-block
      width: 24px
      height: 24px
      border: 1px solid white
      border-radius: 50%
      margin-right: 10px
      &:last-child
        margin-right: 0
      svg
        +centered-inside
        width: 14px
        height: 14px
        fill: white
    @media only screen and (min-width: 1440px)
      +x-align

.pizza
  background-image: asset_url('icons/sprite_icons/Pizza-Letta-pizza-icon.png')
.drinks
  background-image: asset_url('icons/sprite_icons/Pizza-Letta-bottle-icon.png')
.salads
  background-image: asset_url('icons/sprite_icons/Pizza-Letta-salad-icon.png')
.gifts
  background-image: asset_url('icons/sprite_icons/Pizza-Letta-box-icon.png')
  position: relative
  left: 6px
.constructor
  background-image: asset_url('icons/sprite_icons/Pizza-Letta-constructor-icon.png')
.pizza, .drinks, .salads, .gifts, .constructor
  display: inline-block
  width: 53px
  height: 53px
  margin: 0 auto
  background-position: top center
  @media only screen and (min-width: 1440px)

.sidenav a:hover
  .pizza, .drinks, .salads, .gifts, .constructor
    animation: play .8s steps(10) normal forwards

@keyframes play
  100%
    background-position-y: -528px