// Item list

.item-list
  position: relative
  overflow: hidden
  .square
    width: 100%
    overflow: hidden
    margin-bottom: 30px
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25)
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.25)
    box-shadow: 0 2px 10px rgba(0,0,0,0.25)

.item
  background: white
  cursor: pointer
  &.active, &:hover
    .img-bg
      +scale(1.05)
    .info-panel
      +translate(0,0)
    .add-ingredient-btn
      opacity: 1

.fullsize.item
  &:before
    content: ''
    display: block
    width: 180px
    height: 180px
    border-radius: 50%
    background: $dark
    position: absolute
    top: -100px
    right: -75px
    z-index: 1
  &:after
    content: ''
    display: block
    position: absolute
    top: 10px
    right: 0
    width: 74px
    height: 44px
    background-image: asset_url('icons/logo.svg')
    -webkit-background-size: contain
    background-size: contain
    background-repeat: no-repeat
    z-index: 2

.drink-img-wrap
  position: absolute
  width: 100%
  height: calc(100% - 140px)

.size-option
  position: relative
  border: 1px solid black
  //&:after
    content: 'cm'
    +x-align
    bottom: -20px
    font-size: 10px
    color: grey
  label
    cursor: pointer
  input
    position: absolute
    visibility: hidden
    opacity: 0
  .checkmark
    padding: 6px
  input:checked ~ .checkmark
    color: white
    background: $dark

  .weight, .size
    padding: 4px
    font-size: 12px
    text-align: center
    color: white
    span
      font-weight: 600
  .weight
    background: $dark
  .size
    background: $red

.info-panel
  position: absolute
  padding: 20px
  width: 100%
  height: 200px
  bottom: 0
  left: 0
  @media #{$small-only}
    height: initial
    min-height: 150px
    padding: 15px 10px 70px 10px
  @media #{$medium-only}
    padding: 15px 10px
  @media #{$xlarge-up}
    +translate(0,60px)
    +transition(.25s)
  &.white
    background: white
  &.dark
    background: $dark
    .name, .ingredients, .short-info
      color: white
    .ingredients
      width: 100%
    .add-ingredient-btn
      background: white
      color: $dark
  .short-info
    font-size: 10px
    font-weight: 500
    line-height: 1.25
    margin-bottom: 10px
    @media #{$small-only}
      margin-bottom: 6px
  .name
    font-weight: 900
    margin-bottom: 10px
    @media #{$large-up}
      font-size: 21px
    @media only screen and (min-width: 1920px)
      font-size: 24px
  .ingredients
    //width: calc(100% - 80px)
    font-size: 12px
    font-weight: 500
    margin-bottom: 10px
    line-height: 1.25
    li
      display: inline-block
      &.first
        text-transform: capitalize
      &:after
        content: '\002C'
        margin-right: 5px
      &:last-child
        &:after
          display: none
  .add-ingredient-btn
    display: inline-block
    color: white
    padding: 4px 6px
    text-transform: uppercase
    font-size: 9px
    font-weight: 700
    background: $dark
    +transition(.15s)
    @media #{$xlarge-up}
      opacity: 0
    span
      display: inline-block
      width: 11px
      height: 11px
      vertical-align: middle
      margin-right: 4px
    svg
      rect
        +transition(.15s)
        fill: $dark
    &:hover
      color: $red
      svg
        rect
          fill: $red
  .red-price
    position: absolute
    top: -35px
    right: 10px
  .size-option
    position: absolute
    right: 20px
    top: 40px
.add-to-cart
  position: absolute
  width: 100%
  height: 56px
  padding: 15px 0
  bottom: 0
  left: 0
  background: $red
  +clearfix
  .quantity
    float: left
  .total-price
    float: right
    line-height: 30px
    margin-right: 15px
    color: white
    font-weight: 600
  .add-to-cart-btn
    +xy-align
    width: 150px
    z-index: 1
    color: white
    text-transform: uppercase
    padding: 20px
    //line-height: 30px
    font-weight: 600
    cursor: pointer
  .make-pizza
    width: 220px
  .success-message
    +fullsize
    z-index: 1
    background: $dark
    padding: 5px
    color: white
    text-align: center
    opacity: 0
    pointer-events: none
    +transition(.25s)
    &.visible
      opacity: 1
      pointer-events: initial
    .text
      font-size: 14px
      font-weight: 500
    svg
      position: relative
      top: 4px
      width: 30px
      margin-left: 10px
      fill: white


//BRANDING SECTION

.branding
  position: relative
  background: $dark
  &:before
    content: ''
    display: block
    padding-top: 50%
  @media #{$medium-up}
    &:before
      padding-top: 25%
  .icon
    +xy-align
    width: 200px
    @media #{$small-only}
      width: 150px
  svg
    width: 100%


// Live video

.video-container
  position: relative
  padding-bottom: 50%
  iframe
    position: absolute
    width: 100%
    height: 100%
  .video
    pointer-events: none
    &.playing
      pointer-events: initial
  .video-cover
    +fullsize
    background-position: center
    -webkit-background-size: cover
    background-size: cover
    z-index: 1
    pointer-events: none
    &:after
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 30%
      bottom: 0
      left: 0
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%)
      z-index: 1

.camera-option
  position: absolute
  bottom: 30px
  left: 30px
  border: 1px solid white
  z-index: 2
  //temporary disabled (we don't have camera)
  display: none
  @media #{$small-only}
    bottom: 10px
    left: 10px
  .floated
    font-size: 12px
    padding: 5px 10px
    color: white
    cursor: pointer
    &.active
      background: white
      color: $dark
      cursor: initial

.camera-description
  position: absolute
  bottom: 30px
  right: 30px
  z-index: 2
  //temporary disabled (we don't have camera)
  display: none
  @media #{$small-only}
    display: none
  .small, .larger
    text-transform: uppercase
    color: white
  .larger
    position: relative
    font-weight: 600
    margin-top: 5px
    &:before
      content: ''
      display: block
      width: 8px
      height: 8px
      background: $red
      border: 1px solid white
      border-radius: 50%
      position: absolute
      top: 4px
      left: -15px


// SUBSCRIBE

.subscribe-wrap
  position: relative
  padding: 60px 0
  background: $red
  overflow: hidden
  .pizza-img
    width: 150px
    height: 150px
    +y-align
    left: -30px
    z-index: 1
    -webkit-background-size: contain
    background-size: contain
    background-repeat: no-repeat
    display: none
    @media #{$large-up}
      display: block
  .bg-pattern
    width: 70%
    height: 100%
    position: absolute
    top: 0
    right: 0
    -webkit-background-size: cover
    background-size: cover
  .large
    color: white
    font-weight: 600
    margin-bottom: 10px
  .smaller
    color: white
    line-height: 1.5
  button
    position: absolute
    top: 0
    right: 0
    padding: 18px
    span
      font-size: 10px
      text-transform: uppercase
      font-weight: 600
    svg
      width: 10px
      height: 10px
  @media #{$small-only}
    padding: 40px 0



// Social on main page

.social-wrap
  position: relative
  padding: 150px 0 100px
  overflow: hidden
  background: white
  @media #{$small-only}
    padding: 150px 0 50px
  .label
    +x-align
    width: 200px
    height: 200px
    border-radius: 50%
    background: $dark
    top: -100px
    svg
      position: absolute
      width: 90px
      bottom: 30px
      left: 50%
      +translate(-50%,0)
  .main-text
    width: 500px
    max-width: 100%
    margin: 0 auto 50px
    text-align: center
    .large-title
      font-size: 24px
    .smaller
      margin: 20px 0 30px
  .square
    margin-bottom: 20px
    @media #{$small-only}
      margin-bottom: 10px
  .heart-icon
    display: inline-block
    width: 20px
    height: 21px
    vertical-align: middle
    margin-right: 10px
    cursor: pointer
    +transition(.25s)
    &:hover
      fill: red
  .btn
    span
      font-size: 12px
      font-weight: 600
  .likes
    display: inline-block
    font-size: 14px
    font-weight: 900
    @media #{$small-only}
      margin-bottom: 30px
  .title
    font-size: 14px
    margin: 20px 0 10px
    font-weight: 900
    text-transform: capitalize
  .smaller
    font-size: 13px
    font-weight: 500
    margin-bottom: 30px
    line-height: 1.5
  .title, .post-description
    @media #{$small-only}
      display: none

// Promotions page

.promotions-wrap
  .square
    margin-bottom: 30px
.promotion-one
  .btn-prev, .btn-next
    position: absolute
    top: 50%
    +translate(0,-50%)
  .btn-prev
    left: -40px
  .btn-next
    right: -40px
  @media #{$small-only}
    .btn-prev, .btn-next
      display: none


// About us page

.banner
  position: relative
  height: 100vh
  &:before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 50%
    bottom: 0
    left: 0
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.25))
    z-index: 1
  .img-bg
    @media #{$large-up}
      background-attachment: fixed
  .icon
    position: absolute
    top: 20%
    left: 50%
    +translate(-50%,0)
    z-index: 1
    svg
      width: 200px
      height: 150px
      fill: white
  .banner-title
    width: 100%
    +x-align
    bottom: 40px
    font-size: 120px
    font-weight: 900
    text-transform: uppercase
    color: white
    text-align: center
    z-index: 2
    @media #{$small-only}
      font-size: 48px
      bottom: 140px
    @media #{$medium-only}
      font-size: 72px
    @media #{$large-only}
      font-size: 100px
    @media #{$xlarge-up}
      font-size: 120px

.about-wrap
  overflow: hidden
  background: white
  padding: 100px 0
  @media #{$small-only}
    padding: 50px 0

  .logo-icon
    position: relative
    top: 10px
    width: 200px
    height: 150px
    margin: 0 auto

  .regular
    font-weight: 600
    line-height: 1.5

  .owl-wrap
    position: relative
    padding: 50px 0 100px
    height: 500px
    @media #{$xxlarge-up}
      height: 600px
  .owl-carousel
    .item
      position: relative
      padding-bottom: 120%
      background: transparent
    img
      position: absolute
      bottom: 0
  .owl-stage-outer
    overflow: initial
  .custom-controls
    position: absolute
    bottom: 40px
    right: 0
  .owl-btn-prev, .owl-btn-next
    display: inline-block
    width: 40px
    height: 40px
    padding: 10px
    cursor: pointer
    svg
      +transition(.25s)
    &:hover
      svg
        fill: $red

  .principles-title
    position: relative
    top: 15px
    display: inline-block
    padding: 20px 0
    font-size: 12px
    border-top: 1px solid $dark
    text-transform: uppercase
    font-weight: 900
    letter-spacing: 1px
  .principles-list
    counter-reset: principles
    li
      position: relative
      counter-increment: principles
      padding-bottom: 20px
      border-bottom: 1px solid $light-grey
      margin-bottom: 40px
      &:before
        content: counter(principles)
        display: block
        width: 60px
        height: 60px
        position: absolute
        top: -10px
        left: -90px
        border-radius: 50%
        border: 1px solid $dark
        font-size: 24px
        font-weight: 900
        line-height: 60px
        text-align: center
      &:last-child
        border-bottom: 0

  .camera
    position: relative
    display: inline-block
    font-size: 14px
    font-weight: 900
    color: $red
    +transition(.25s)
    margin-right: 40px
    padding: 10px 0
    cursor: pointer
    span
      display: inline-block
      vertical-align: middle
      width: 20px
      height: 20px
      margin-right: 10px
      border-radius: 50%
      background: $red
      +transition(.25s)
    svg
      width: 10px
      margin: 5px 4px
      fill: white
      +rotate(45deg)
      +transition(.25s)
    &:hover
      color: $dark
      span
        background: $dark
      svg
        fill: $red

.blockquotes
  position: relative
  background: $red
  padding: 140px 0 130px
  .bg-pattern
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    -webkit-background-size: cover
    background-size: cover
    background-position: center right
  i
    display: block
    position: relative
    width: 1000px
    margin: 0 auto
    max-width: 100%
    font-size: 32px
    color: white
    text-align: center
    font-weight: 700
    &:before
      content: '\201C'
      font-size: 100px
      position: absolute
      top: 0
      left: 50%
      +translate(-65%,-60%)
    @media #{$small-only}
      font-size: 24px



.constructor-wrap
  position: relative
  height: 100vh
  overflow: hidden
  background-image: asset_url('img/letta-pattern-white.png')
  z-index: 3
  .pizza-preview
    position: absolute
    width: 100%
    height: 100%
    -webkit-background-size: contain
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    top: -30%
    left: -40%
    +transition(.5s)
    &.small
      +scale(.7)
    @media #{$small-only}
      display: none
  .scroll-container
    overflow: auto
    height: calc(100vh - 116px)
  .panel
    padding-top: 100px
    overflow: auto
    position: absolute
    width: 500px
    height: 100%
    max-width: 100%
    top: 0
    right: 0
    z-index: 2
  .subtitle
    margin-right: 20px
  .main-options
    margin: 30px 0
  .size-option
    margin-right: 20px
  .sauce-option
    input
      position: absolute
      visibility: hidden
      &:checked
        + label
          border: 1px solid $dark
          &:before
            opacity: 1
    label
      display: inline-block
      width: 24px
      height: 24px
      border-radius: 50%
      border: 1px solid $light-grey
      cursor: pointer
      &:before
        content: ''
        display: block
        width: 12px
        height: 12px
        margin: 5px
        opacity: 0
      &.white
        background: $grey
        margin-right: 20px
        &:before
          background-image: asset_url('icons/pizza_part.svg')
      &.red
        background: $red
        &:before
          background-image: asset_url('icons/pizza_part_white.svg')

  // Ingredients preview block
  .ingredients-preview
    display: none
    position: absolute
    bottom: 50px
    z-index: 1
    @media #{$medium-up}
      display: block
      right: 600px
    @media #{$xxlarge-up}
      right: initial
      left: 50%
      +translate(-50%,0)
    .red-price
      margin: 0 auto
  .ingredients-list
    margin: 30px 0
    li
      display: inline-block
      position: relative
      width: 50px
      height: 50px
      border-radius: 50%
      background: white
      -webkit-box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.1)
      -moz-box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.1)
      box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.1)
      margin-right: 10px
      &:last-child
        margin-right: 0
    .img-bg
      -webkit-background-size: contain
      background-size: contain
  .add-to-cart.fixed
    position: fixed
    width: 500px
    max-width: 100%
    left: initial
    right: 0
  .constructor-summary
    margin-top: 30px
    .total
      float: right
      // padding: 10px 0
      text-transform: uppercase
      font-size: 12px
      font-weight: 600
    span
      color: $red
      font-size: 24px
      margin-left: 10px
      font-weight: 700

.ingredient-type
  position: relative
  border-bottom: 1px solid $light-grey
  padding-bottom: 14px
  .qnty
    position: absolute
    top: 0
    right: 0
    font-size: 14px
    .choosed
      font-weight: 600
    .total
      &:before
        content: '/'
        margin: 0 2px

.stub-wrap
  position: relative
  height: 100vh
  background: $dark
  .inner
    +xy-align
    text-align: center
  .logo
    width: 200px
    margin: 0 auto 30px
  .title
    color: white