link rel="icon" href=asset_path("icons/favicon/favicon-16x16.png") type="image/png" sizes="16x16"
link rel="icon" href=asset_path("icons/favicon/favicon-32x32.png") type="image/png" sizes="32x32"
link rel="icon" href=asset_path("icons/favicon/favicon-76x76.png") type="image/png" sizes="76x76"
link rel="icon" href=asset_path("icons/favicon/favicon-96x96.png") type="image/png" sizes="96x96"
link rel="icon" href=asset_path("icons/favicon/favicon-180x180.png") type="image/png" sizes="180x180"
link rel="icon" href=asset_path("icons/favicon/favicon-196x196.png") type="image/png" sizes="196x196"
link rel="icon" href=asset_path("icons/favicon/favicon-228x228.png") type="image/png" sizes="228x228"